@model IEnumerable<DreamPlanner_Main.Models.UserDefinedModels.Reservation>

@{
    ViewBag.Title = "Index";
}

<h2>Thank you for your reservation.</h2>

<h4>An Email has sent to you with your reservation code. Please pay 50% advance within one week from reservation. Otherwise, your reservation will be cancelled. Bring your reservation code during payment.</h4>