@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@*@ViewBag.Message*@</h3>

<div style="margin-bottom:1%;">
    <!-- Carousel Slideshow -->
    <div id="carousel-example" class="carousel slide" data-ride="carousel">
        <!-- Carousel Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example" data-slide-to="1"></li>

        </ol>
        <!-- End Carousel Indicators -->
        <!-- Carousel Images -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/assets/img/profiles/teamSlide1.jpg">
            </div>
            <div class="item">
                <img src="~/assets/img/profiles/teamSlide2.jpg">
            </div>

        </div>
        <!-- End Carousel Images -->
        <!-- Carousel Controls -->
        <a class="left carousel-control" href="#carousel-example" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        <!-- End Carousel Controls -->
    </div>
    <!-- End Carousel Slideshow -->
</div>

<div class="tab-content row" style="margin-left:0%;">
    <p>
        <!-- Introduction of about us-->
        Our company was found in 2017 and totally 6 staff in our company. Our company focuses on planning various of parties.
        For example, birthday party, wedding party, festival party and so on.The staff in our team all have undergone a professional training.
        <br />
        Although our company is small, but until now we bought surprises to over 3 countries, 14 cities and brought happiness to
        over 10,000 people!
        <br />
        Blue swimming pool, delicious food, wonderful music, happy balloon, beautiful waiter... All these can be seen in our parties!
        <strong>Your Dream, We Plan.</strong>
        <br />
        Contact us now! You will get a surprise!
    </p>

</div>
