@{
    ViewBag.Title = "About Us";
}

<br />
<h2>@ViewBag.Title.</h2>

<!-- Project-->

<style type="text/css">
    .progress {
        height: 20px;
        background: #bebac0;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        border-radius: 10px;
    }

        .progress > span {
            position: relative;
            float: left;
            margin: 0 -1px;
            min-width: 30px;
            height: 18px;
            line-height: 16px;
            text-align: right;
            background: #3c3343;
            border: 1px solid;
            border-color: #bfbfbf #b3b3b3 #9e9e9e;
            border-radius: 10px;
            background-image: -webkit-linear-gradient(top, #f0f0f0 0%, #dbdbdb 70%, #cccccc 100%);
            background-image: -moz-linear-gradient(top, #f0f0f0 0%, #dbdbdb 70%, #cccccc 100%);
            background-image: -o-linear-gradient(top, #f0f0f0 0%, #dbdbdb 70%, #cccccc 100%);
            background-image: linear-gradient(to bottom, #959199 0%, #131115 70%, #b3aaba 100%);
            -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
        }

            .progress > span > span {
                padding: 0 8px;
                font-size: 11px;
                font-weight: bold;
                color: #404040;
                color: rgba(0, 0, 0, 0.7);
                text-shadow: 0 1px rgba(255, 255, 255, 0.4);
            }

            .progress > span:before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 1;
                height: 18px;
                background: 0 0 repeat-x;
                border-radius: 10px;
            }
</style>

<!--   Introduction of about us!    Introduction of about us!    Introduction of about us!    Introduction of about us!    Introduction of about us!   Introduction of about us!-->
<div>
    <div class="tab-content row" style="margin-left:0%; display:inline;float:left;width:46%;">
        <p>
            <!-- Introduction of about us-->
            Our company was found in 2017 and totally 6 staff in our company. Our company focuses on planning various of parties.
            For example, birthday party, wedding party, festival party and so on.The staff in our team all have undergone a professional training.
            <br />
            Although our company is small, but until now we bought surprises to over 3 countries, 14 cities and brought happiness to
            over 10,000 people!
            <br />
            Blue swimming pool, delicious food, wonderful music, happy balloon, beautiful waiter... All these can be seen in our parties!
            <strong>Your Dream, We Plan.</strong>
            <br />
            Contact us now! You will get a surprise!
        </p>

    </div>

    <div>
        <!-- Picture slides   Picture slides   Picture slides   Picture slides   Picture slides  Picture slides  Picture slides   Picture slides  Picture slides  -->
        <div style="display:inline; float:right; width:50%;">
            <div style="margin-bottom:1%;">
                <!-- Carousel Slideshow -->
                <div id="carousel-example" class="carousel slide" data-ride="carousel">
                    <!-- Carousel Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example" data-slide-to="1"></li>

                    </ol>
                    <!-- End Carousel Indicators -->
                    <!-- Carousel Images -->
                    <div class="carousel-inner" style="margin-top:2%;">
                        <div class="item active">
                            <img src="~/assets/img/theteam/slide1.jpg" style="width:100%;">
                        </div>
                        <div class="item">
                            <img src="~/assets/img/theteam/slide2.jpg" style="width:100%;">
                        </div>

                    </div>
                    <!-- End Carousel Images -->
                    <!-- Carousel Controls -->
                    <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                    <!-- End Carousel Controls -->
                </div>
                <!-- End Carousel Slideshow -->
            </div>
        </div>
    </div>
    <hr />
</div>

<div>
    <!-- Vision      Vision        Vision         Vision           Vision          Vision         Vision           Vision            Vision-->
    <div style="display:inline;float:left;width:48%;">
        <div class="tab-content row" style="margin-left:0%; width:100%;">
            <h2>Vision</h2>
            <div id="vision">
                <p>
                    <strong>To be an industry leader , we must work hard every day and focus on tomorrow!</strong>
                    <br />
                    <b>  People:</b>We are constantly learning and improving. We want to become a team of knowledgeable professionals to meet client, personal and corporate goals.<br />
                    <b>  Place:</b>Even though we're small and we don't have many members,we want to be a inspiring，harmonious and meaningful place  for people to share and contribute.<br />
                    <b>  Profit：</b>Maximize sustainable return to stakeholders.It's my biggest goal to get the most out of clients and investors.<br />
                    <b>  Professionalism：</b>Each of our members has excellent professional skills . So we can be very proud to say: What we do, we do well.
                </p>
            </div>
        </div>

        <!-- Mission                    Mission              Mission             Mission           Mission             Mission         Mission -->
        <div class="tab-content row" style="margin-left:0%; width:100%;">
            <h2>Mission</h2>
            <div id="mission">
                <p>
                    <strong>Our mission is to design and carry out personalized, innovative events that meet our clients needs and desires!</strong>
                    <br />
                    Our mission statement is every great event starts with organized details while executing them brilliantly!<br />
                    We offers a variety of options to assist in making your wedding as perfect as you have imagined it!<br />
                    Whether it assisting with decor, full wedding planning or consulting that you need, we customize our packages to your needs.<br />
                    We let us help you so that you can enjoy your day!
                </p>
            </div>
        </div>
    </div>


    <!-- Values                    Values              Values             Values           Values             Values         Values -->
    <div style="display:inline;float:right;width:48%;">
        <div class="tab-content row" style="margin-left:0%; width:100%;">
            <h2>Values</h2>
            <div id="values">
                <p>
                    <strong>Dream Planner's Values</strong><br />
                    Dream Planner strives to be the preferred brand that provides innovative event solutions<br />
                    of the highest quality, setting the benchmark for the industry. Even though we are just starting<br />
                    our values will help us provide quality of service equivalent to that of other experienced teams.<br />
                    Our standards are directed by our values:
                    <ul style="list-style-type:none;margin:0;padding:0;">
                        <li><span style="color:green;">&#x2714;</span> <b>Honour:</b> We always meet our customers with honour and respect.</li>
                        <li><span style="color:green;">&#x2714;</span> <b>Pride:</b> We take great pride in what we do and we ever strive to improve.</li>
                        <li><span style="color:green;">&#x2714;</span> <b>Integrity:</b> It defines everything we do, from the simplest to the most demanding task.</li>
                        <li><span style="color:green;">&#x2714;</span> <b>Courage:</b> We are always keen on daring with challenging events and undertakings in our way to fulfil our vision.</li>
                    </ul>

                </p>
            </div>
        </div>
    </div>

</div>



<hr class="margin-vert-40">
<!-- Meet the Team                    Meet the Team              Meet the Team             Meet the Team           Meet the Team             Meet the Team         Meet the Team -->
<h2 class="margin-vert-20">Meet the Team</h2>
<div class="row margin-bottom-30">
    <!-- Person Details -->
    <div class="col-sm-3 person-details" >
        <figure>
            <img src="~/assets/img/theteam/Nafis.jpg" alt="Nafis">
            <figcaption>
                <h3>
                    Nafis
                    <small>- Main Developer</small>
                </h3>
                <span>Don't try to be smart. Just learn coding, programming. Smartness will be committed in you.</span>
            </figcaption>
            <ul class="list-inline person-details-icons">
                <li>
                    <a href="https://twitter.com/NafisIsty">
                        <i class="fa-lg fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/kazi-nafis-ishtiaque-27323a88/">
                        <i class="fa-lg fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/nafis.isty">
                        <i class="fa-lg fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="https://plus.google.com/u/0/+KaziNafisIshtiaque">
                        <i class="fa-lg fa-google-plus"></i>
                    </a>
                </li>
            </ul>
        </figure>
    </div>
    <!-- //Portfolio Item// -->
    <div class="col-sm-3 person-details">
        <figure>
            <img src="~/assets/img/theteam/George.jpg" alt="George">
            <figcaption>
                <h3>
                    George
                    <small>- Scrum Master</small>
                </h3>
                <span>Scrum Master of the team. <br />I know something about Scrum but actually not a master. Learning coding.</span>
            </figcaption>
            <ul class="list-inline person-details-icons">
                <li>
                    <a href="https://twitter.com/GQuicK95">
                        <i class="fa-lg fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/%E4%BA%91%E6%B3%BD-%E9%AB%98-298558153/?trk=uno-choose-ge-no-intent&dl=no">
                        <i class="fa-lg fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/profile.php?id=100008953935797">
                        <i class="fa-lg fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="https://plus.google.com/u/0/105966465844264208376">
                        <i class="fa-lg fa-google-plus"></i>
                    </a>
                </li>
            </ul>
        </figure>
    </div>
    <!-- //Portfolio Item// -->
    <div class="col-sm-3 person-details">
        <figure>
            <img src="~/assets/img/theteam/Carrin.jpg" alt="Carin">
            <figcaption>
                <h3>
                    Carrin
                    <small>- Document</small>
                </h3>
                <span>A member in the team. <br />I know something about HTML, CSS and PHP. And more things are learning during the process</span>
            </figcaption>
            <ul class="list-inline person-details-icons">
                <li>
                    <a href="https://twitter.com/Carrin_Hjr">
                        <i class="fa-lg fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/%E4%BD%B3%E6%9F%94-%E9%BB%84-797558153/">
                        <i class="fa-lg fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/profile.php?id=100021673963198">
                        <i class="fa-lg fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="https://plus.google.com/u/0/108132099261562708973">
                        <i class="fa-lg fa-google-plus"></i>
                    </a>
                </li>
            </ul>
        </figure>
    </div>
    <!-- //Portfolio Item// -->
    <div class="col-sm-3 person-details">
        <figure>
            <img src="~/assets/img/theteam/Doria.jpg" alt="Doria">
            <figcaption>
                <h3>
                    Doria
                    <small>- Tester</small>
                </h3>
                <span>I am an extroverted girl with strong desire for knowledge as well as vigor for action. I will do better! </span>
            </figcaption>
            <ul class="list-inline person-details-icons">
                <li>
                    <a href="https://twitter.com/dddddoria">
                        <i class="fa-lg fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/%E9%A0%94-%E5%A7%9C-9949b7153/">
                        <i class="fa-lg fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/profile.php?id=100021810701423">
                        <i class="fa-lg fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="https://plus.google.com/u/0/116071061661791600208">
                        <i class="fa-lg fa-google-plus"></i>
                    </a>
                </li>
            </ul>
        </figure>
    </div>

    <div class="col-sm-3 person-details">
        <figure>
            <img src="~/assets/img/theteam/keerthy.jpg" alt="A photo showing Keerthy">
            <figcaption>
                <h3>
                    Keerthy
                    <small>- Product Owner</small>
                </h3>
                <span>I am the product owner and also in the development team. I am learning HTML and CSS.</span>
            </figcaption>
            <ul class="list-inline person-details-icons">
                <li>
                    <a href="https://twitter.com/Keerthy">
                        <i class="fa-lg fa-twitter"></i>
                    </a>
                </li>

                <li>
                    <a href="https://www.linkedin.com/">
                        <i class="fa-lg fa-linkedin"></i>
                    </a>
                </li>

                <li>
                    <a href="https://www.facebook.com/keerthana06">
                        <i class="fa-lg fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="https://plus.google.com/u/0/+keerthanavummenthala">
                        <i class="fa-lg fa-google-plus"></i>
                    </a>
                </li>
            </ul>
        </figure>
    </div>

    <div class="col-sm-3 person-details">
        <figure>
            <img src="~/assets/img/theteam/Rohan.jpg" alt="Rohan">
            <figcaption>
                <h3>
                    Rohan
                    <small>- Project Manager</small>
                </h3>
                <span>I am the project manager. I am also working on UI design & development.</span>
            </figcaption>
            <ul class="list-inline person-details-icons">
                <li>
                    <a href="https://twitter.com">
                        <i class="fa-lg fa-twitter"></i>
                    </a>
                </li>

                <li>
                    <a href="https://www.linkedin.com/">
                        <i class="fa-lg fa-linkedin"></i>
                    </a>
                </li>

                <li>
                    <a href="https://www.facebook.com">
                        <i class="fa-lg fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="https://plus.google.com">
                        <i class="fa-lg fa-google-plus"></i>
                    </a>
                </li>
            </ul>
        </figure>
    </div>

</div>
<hr class="margin-vert-20">
<!-- End Meet the Team -->
<!-- Our skills-->
<div class="tab-content row" style="width:100%;">

    <h2> Our Skills</h2>
    <!-- Process bar-->
    <div style="float:left; display:inline; width:50%;">
        <section class="container">

            <h3 class="progress-label">UI Design</h3>
            <div class="progress">
                <span style="width: 92%;"><span style="color:#eae5ed;">92%</span></span>
            </div>

            <h3 class="progress-label">Documentation</h3>
            <div class="progress">
                <span style="width: 80%;"><span style="color:#eae5ed;">80%</span></span>
            </div>

            <h3 class="progress-label">Database Design</h3>
            <div class="progress">
                <span style="width: 86%;"><span style="color:#eae5ed;">86%</span></span>
            </div>

            <h3 class="progress-label">Programming</h3>
            <div class="progress">
                <span style="width: 95%;"><span style="color:#eae5ed;">95%</span></span>
            </div>

            <h3 class="progress-label">Testing</h3>
            <div class="progress">
                <span style="width: 82%;"><span style="color:#eae5ed;">82%</span></span>
            </div>

            <h3 class="progress-label">Requirement analysis</h3>
            <div class="progress">
                <span style="width: 78%;"><span style="color:#eae5ed;">78%</span></span>
            </div>
        </section>
    </div>

    <!-- Test description-->
    <div style="float:right; display:inline; width:50%; margin-top:2.2%;">
        <p>
            Rohan and Keerthy are good at design. They know how to use photoshop to make a fantastic design.
            And the icon of our product is made by them.
            <br />
            Everybody in our team will do some documentation work. For example, write the project plan, status report.
            <br />
            Database design will be done be Keerthy who has more knowledge about this. And she also will teach other members to do this.
            <br />
            Develop work will be done by every members. Even some things we don't know, we will learn some relative knowledge from websites and try to develop.
            <br />

            The ability of one person has limitation, but for a team, much work can be done.
            <br />
            In a team, different ideas fights together which help the team to have better ideas.
            <br />
            In a team, every member can learn something from each other which is a good way and quick way for a man to learn.
            <br />
            <strong> So, we makes our team become stronger and team also makes us become more stronger!</strong>
        </p>
    </div>
</div>
