@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">
    
    <!-- Description  Description Description   Description   Description-->
    <div style="margin-top:3%;">
        "Hindoo" and "Hindus" redirect here. For the racehorse, see Hindus (horse). For other uses, see Hindoo (disambiguation).
        (About this sound pronunciation (help·info)) refers to any person who regards themselves as culturally, ethnically, or religiously
        adhering to aspects of Hinduism.[1][2] It has historically been used as a geographical, cultural, and later religious identifier for
        people indigenous to South Asia.[3][4]
        The historical meaning of the term Hindu has evolved with time. Starting with the Persian and Greek references to the land of the Indus
        in the 1st millennium BCE through the texts of the medieval era,[5] the term Hindu implied a geographic, ethnic or cultural identifier
        for people living in the Indian subcontinent around or beyond the Sindhu (Indus) river.[6] By the 16th century, the term began to refer
        to residents of the subcontinent who were not Turkic or Muslims.[6][a][b]
    </div>

    <hr />
    <!-- Picture  Picture  Picture   Picture  Picture  Picture-->
    <div style="margin-bottom:30%;">
        <div style="display:inline; float:left; width:48%;">
            <img src="~/assets/img/services/christmas1.jpg" />
        </div>
        <div style="display:inline; float:right; width:48%;">
            <img src="~/assets/img/services/christmas1.jpg" />
        </div>
    </div>
    <hr />

    <!-- Description -->
    <div>
        "Hindoo" and "Hindus" redirect here. For the racehorse, see Hindus (horse). For other uses, see Hindoo (disambiguation).
        (About this sound pronunciation (help·info)) refers to any person who regards themselves as culturally, ethnically, or religiously
        adhering to aspects of Hinduism.[1][2] It has historically been used as a geographical, cultural, and later religious identifier for
        people indigenous to South Asia.[3][4]
        The historical meaning of the term Hindu has evolved with time. Starting with the Persian and Greek references to the land of the Indus
        in the 1st millennium BCE through the texts of the medieval era,[5] the term Hindu implied a geographic, ethnic or cultural identifier
        for people living in the Indian subcontinent around or beyond the Sindhu (Indus) river.[6] By the 16th century, the term began to refer
        to residents of the subcontinent who were not Turkic or Muslims.[6][a][b]
    </div>

    <hr />
    <!-- Picture  Picture  Picture   Picture  Picture  Picture-->
    <div style="margin-bottom:30%;">
        <div style="display:inline; float:left; width:48%;">
            <img src="~/assets/img/services/christmas1.jpg" />
        </div>
        <div style="display:inline; float:right; width:48%;">
            <img src="~/assets/img/services/christmas1.jpg" />
        </div>
    </div>
</div>
