@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    strong {
        font-family: georgia, serif;
        color:#3E89CF;
        font-size: 1.1em;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1.6pt;
        word-spacing: 2.4pt;
        line-height: 2.2;
    }
</style>

<div class="container body-content" style="margin-bottom:2%;">
    <div style="display:inline;float:left;width:53%;margin-top:1%;">
        <div>
            <p>
                <font style="font-size:2em;font-style:oblique;">T</font>here are many special or holy days held throughout the year by the Buddhist community. Many of these days celebrate the birthdays of Bodhisattvas in the Mahayana tradition or other significant dates in the Buddhist calendar. The most significant celebration happens every May on the night of the full moon, when Buddhist all over the world celebrate the birth, enlightenment and death of the Buddha over 2,500 years ago. It has become to be known as Buddha Day.
<br />Buddhist Festivals are always joyful occasions. Typically on a festival day, lay people will go the the local temple or monastery and offer food to the monks and take the Five Precepts and listen to a Dharma talk. In the afternoon, they distribute food to the poor to make merit and in the evening join perhaps in a ceremony of circumambulation a stupa three time as a sign of respect to the Buddha, Dhamma, Sangha. The day will conclude with evening chanting of the Buddha's teachings and meditation.
                <br /><strong>(1).Buddhist New Year</strong>
                <br />The Buddhist New Year is celebrated on different days throughout the world. In Theravadin countries (Thailand, Burma, Sri Lanka, Cambodia and Laos), the new year is celebrated for three days from the first full moon day in April. In Mahayana countries, the new year usually starts on the first full moon day in January, and Tibetan Buddhists generally celebrate it in March.
                <br /><strong>(2).Vesakr</strong>
                <br /> Vesak is the birthday of the Buddha and the most important festival in Buddhism. On the first full moon day in May, Buddhists all over the world celebrate the birth, enlightenment and death of the Buddha in a single day. The name "Vesak" comes from the Indian month of that name in which it is held.
                <br /><strong>(3).Sangha Day (Magha Puja Day or Fourfold Assembly Day)</strong>)
                <br /> Sangha Day commemorates the Buddha's visit to Veruvana Monastery in the city of Rajagaha, when 1,250 arhats are said to have spontaneously returned from their wanderings to pay their respects to the Buddha. Sangha Day is celebrated on the full moon day of the third lunar month (March).This holy day is to commemorate an important event in the life of the Buddha, the fourfold assembly.
                <br /><strong>(4).Dhamma Day (Asalha Puja Day)</strong> 
                <br /> Asalha Puja means to honor Buddha on the full moon day of the 8th lunar month (approximately July). It recalls and shows respect to the Buddha’s first teaching.
                <br /><strong>(5).Observance Day (Uposatha)</strong>
                <br />Observance Day refers to each of the four traditional monthly holy days that continue to be observed in Theravada countries - the new moon, full moon, and quarter moon days. The four holy days in each month. These holy days are during the new moons, full moons and quarter moons. On these days the Buddhists fast (they don’t eat at all).
                <br /><strong>(6).Kathina Ceremony (Robe Offering Ceremony)</strong>
                <br />The Kathina Ceremony is held on any convenient date within one month of the conclusion of the three month rains retreat season (Vassa). On this day, the laity (non-monastics) offer new robes and other necessities to the monks and nuns.In this ceremony new robes are offered to Buddhists monks.
                <br /><strong>(7).Abhidhamma Day</strong>
                <br />This day celebrates the event when the Buddha is said to have gone to the Heaven to teach his mother. It is held on the full moon of April.
                <br /><strong>(8).Songkran</strong> 
                <br />This Buddhist festival goes on for several days during the middle of April. People clean their houses and wash their clothes and enjoy sprinkling perfumed water on the monks. This festival is like a spring cleaning!
                <br /><strong>(9).Festival of Floating Bowls (Loy Krathong)</strong>
                <br />This festival takes place on the full moon night of the Twelfth Lunar month. People bring bowls made of leaves, which contain flowers, candles and incense sticks. People float them in water and as they go, all bad luck is suppose to disappear.
                <br /><strong>(10).The Ploughing Festival</strong>
                <br />This festival takes place in May, when the moon is half-full, two white oxen pull a gold painted plough, followed by four girls dressed in white who throw rice seeds from baskets. This is to celebrate the Buddha’s first moment of enlightenment, which happened when Buddha was seven years old, when he had gone with his father to watch the ploughing.


            </p>
        </div>
       
    </div>

    <!-- Pictures   Pictures   Pictures   Pictures   Pictures   Pictures   Pictures-->
    <div style="display:inline;float:right;width:45%;">
        <img src="~/assets/img/community/buddist3.jpg" style="margin-top:8%;"/><br />
        <img src="~/assets/img/community/buddist1.jpg" style="margin-top:8%;" /><br />
        <img src="~/assets/img/community/buddist6.jpg" style="margin-top:8%;" /><br />
        <img src="~/assets/img/community/buddist2.jpg" style="margin-top:8%;" /><br />     
        <img src="~/assets/img/community/buddist7.jpg" style="margin-top:8%;" /><br />
       
    </div>

</div>
