
<div class="row margin-vert-30">
    <div class="col-md-12">
        <h1>Gallery</h1>
    </div>
    <div class="portfolio-group col-md-12 margin-top-30 no-padding">
        <div class="row">
            <div class="portfolio-item col-md-6 video">
                <div class="image-hover">
                    <a href="#">
                        <figure>
                            <img src="~/assets/img/portfolio/img1.jpg" alt="image1">
                            <figcaption>
                                <h3>Event 1</h3>
                                <span>
                                    TESTESTESTESTESTESTESTESTESTESTEST
                                </span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="portfolio-item col-md-6 code">
                <div class="image-hover">
                    <a href="#">
                        <figure>
                            <img src="~/assets/img/portfolio/img2.jpg" alt="image2">
                            <figcaption>
                                <h3>Event 2</h3>
                                <span>
                                    TESTESTESTESTESTESTESTESTESTESTEST
                                </span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="portfolio-item col-md-6 design">
                <div class="image-hover">
                    <a href="#">
                        <figure>
                            <img src="~/assets/img/portfolio/img3.jpg" alt="image3">
                            <figcaption>
                                <h3>Event 3</h3>
                                <span>
                                    TESTESTESTESTESTESTESTESTESTESTEST
                                </span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="portfolio-item col-md-6 design">
                <div class="image-hover">
                    <a href="#">
                        <figure>
                            <img src="~/assets/img/portfolio/img4.jpg" alt="image4">
                            <figcaption>
                                <h3>Event 4</h3>
                                <span>
                                    TESTESTESTESTESTESTESTESTESTESTEST
                                </span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="portfolio-item col-md-6 code">
                <div class="image-hover">
                    <a href="#">
                        <figure>
                            <img src="~/assets/img/portfolio/img5.jpg" alt="image5">
                            <figcaption>
                                <h3>Event 5</h3>
                                <span>
                                    TESTESTESTESTESTESTESTESTESTESTEST
                                </span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
            <div class="portfolio-item col-md-6 design">
                <div class="image-hover">
                    <a href="#">
                        <figure>
                            <img src="~/assets/img/portfolio/img6.jpg" alt="image6">
                            <figcaption>
                                <h3>Event 6</h3>
                                <span>
                                    TESTESTESTESTESTESTESTESTESTESTEST
                                </span>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

