@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/assets/css/bigPic.css" type="text/css" />
<div class="container body-content">

    <!-- Description  Description Description   Description   Description-->
    <div style="margin-top:3%;">
        
        <img src="~/assets/img/community/Diwali.png" style="width:50%;"/>
        <p>
            Diwali is the Hindu festival of lights celebrated every year in autumn in the northern hemisphere. 
            One of the most popular festivals of Hinduism, it spiritually signifies the victory of light over darkness, 
            good over evil, knowledge over ignorance, and hope over despair. Its celebration includes millions of lights shining on housetops,
             outside doors and windows, around temples and other buildings in the communities and countries where it is observed.
            he festival preparations and rituals typically extend over a five-day period, but the main festival night of Diwali coincides 
            with the dark night of the Hindu Lunisolar month Kartika in Bikram Sambat calendar , on the 15th of the month.
            <br />Before Diwali night, people clean, renovate, and decorate their homes and offices.On Diwali night, people dress 
            up in new clothes or their best outfits, light up diyas (lamps and candles) inside and outside their home, participate 
            in family puja (prayers) typically to Lakshmi – the goddess of fertility and prosperity. After puja, fireworks follow, 
            then a family feast including mithai (sweets), and an exchange of gifts between family members and close friends. 
            Diwali also marks a major shopping period in nations where it is celebrated.
        </p>
        
    </div>

    <hr />
    <!-- Picture  Picture  Picture   Picture  Picture  Picture-->
    <div style="margin-bottom:30%;">
        <div style="display:inline; float:left; width:48%;" id="content">
            <a href="~/assets/img/community/hindu3.jpg">
                <img src="~/assets/img/community/hindu3.jpg" />
            </a>
        </div>
        <div style="display:inline; float:right; width:48%;" id="content">
            <a href="~/assets/img/community/hindu4.jpg">
                <img src="~/assets/img/community/hindu4.jpg" />
            </a>
        </div>
    </div>
    <hr />

    <!-- Description -->
    <div style="display:inline;float:left;width:48%;">
        <div class="tab-content row" style="margin-left:0%; width:100%;">
            <img src="~/assets/img/community/hali.png" style="width:35%;" /> 
            
            <div>
                <p>
                    <strong> Holi  is a Hindu spring festival celebrated in India and Nepal, </strong><br />
                    The festival signifies the victory of good over evil, the arrival of spring, end of winter, and for many a festive day to meet others, play and laugh, forget and forgive, and repair broken relationships. It is also celebrated as a thanksgiving for a good harvest.
                    <br />Holi celebrations start on the night before Holi with a Holika Dahan where people gather, perform religious rituals in front of the bonfire, and pray that their internal evil be destroyed the way Holika, the sister of the demon king Hiranyakashipu, was killed in the fire. The next morning is celebrated as Rangwali Holi – a free-for-all festival of colours, where people smear each other with colours and drench each other. Water guns and water-filled balloons are also used to play and colour each other. Anyone and everyone is fair game, friend or stranger, rich or poor, man or woman, children and elders. The frolic and fight with colours occurs in the open streets, open parks, outside temples and buildings. Groups carry drums and other musical instruments, go from place to place, sing and dance. People visit family, friends and foes to throw coloured powders on each other, laugh and gossip, then share Holi delicacies, food and drinks In the evening, after sobering up, people dress up and visit friends and family.
                </p>
            </div>
        </div>


        <div class="tab-content row" style="margin-left:0%; width:100%;">

            <div>
            </div>
        </div>
    </div>

    <div style="display:inline;float:right;width:48%;">
        <div class="tab-content row" style="margin-left:0%; width:100%;">
            <img src="~/assets/img/community/ms.png" style="width:102%;" /> 
            <div>
                <p>
                    <strong> A Hindu festival celebrated annually in honour of the god Shiva. </strong><br />
                    Maha Shivaratri is an annual festival dedicated to the Hindu god Shiva, and is particularly important in the Shaivism tradition of Hinduism. Unlike most Hindu festivals which are celebrated during the day, the Maha Shivaratri is celebrated at night. Furthermore, unlike most Hindu festivals which include expression of cultural revelry, the Maha Shivaratri is a solemn event notable for its introspective focus, fasting, meditation on Shiva, self study, social harmony and an all night vigil at Shiva temples.
                    <br />The celebration includes maintaining a "jaagaran", an all-night vigil and prayers, because Shaiva Hindus mark this night as "overcoming darkness and ignorance" in one's life and the world through Shiva. Offerings of fruits, leaves, sweets and milk to Shiva are made, some perform all-day fasting with vedic or tantric worship of Shiva, and some perform meditative Yoga. In Shiva temples, "Om Namah Shivaya", the sacred mantra of Shiva, is chanted through the day.
                    <br />Maha Shivaratri is celebrated over three or ten days based on the Hindu luni-solar calendar.Every lunar month, there is a Shivaratri (12 per year). The main festival is called Maha Shivaratri, or great Shivaratri, and this is on 13th night (waning moon) and 14th day of the month Phalguna (Magha). According to the Gregorian calendar, the day falls in either February or March.
                </p>
            </div>
        </div>
    </div>

</div>

<hr />
<!-- Picture  Picture  Picture   Picture  Picture  Picture-->
<div>
    <div style="display:inline; float:left; width:48%; margin-bottom:2%;" id="content">
        <a href="~/assets/img/community/hindu1.jpg">
            <img src="~/assets/img/community/hindu1.jpg" />
        </a>
    </div>
    <div style="display:inline; float:right; width:48%;" id="content">
        <a href="~/assets/img/community/hindu2.jpg">
            <img src="~/assets/img/community/hindu2.jpg" />
        </a>
    </div>
</div>

<hr />
<h3>
    IMPRESSED ENOUGH!!! WANT TO RESERVE NOW!!!! Click
    @Html.ActionLink("Here", "Create", "Reservations", routeValues: null, htmlAttributes: new { @class = "color-green" }) to reserve your celebration party with us.
</h3>


