@{
    ViewBag.Title = "Home Page";
}

<div class="container no-padding">
    <div class="row">
        <!-- Tabs -->
        <div class="tabs-dark" style="padding:0;">
            <!-- Tab Navigation -->
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#home" data-toggle="tab">Home</a>
                </li>
                <li>
                    <a href="#profile" data-toggle="tab">Profile</a>
                </li>
                <li>
                    <a href="#messages" data-toggle="tab">Messages</a>
                </li>
            </ul>
            <!-- End Tab Navigation -->
            <!-- Tab Panes -->
            <div class="tab-content">
                <div class="tab-pane fade in active" id="home">
                    <img style="float: left; margin-right: 25px; margin-bottom: 10px;" src="~/assets/img/frontpage/filler1.jpg" alt="filler image">
                    <h3>What We Are…</h3>
                    <p>
                        Dream Planner possesses a team of young, innovative, enthusiastic and dynamic professionals that has a wide 
                        range of management experience in every category that we deal with. Our objective is to give our clients such 
                        beautiful memories that they can never forget. Our expertise covers the whole aspects of Events and pays full 
                        Attention on client’s demand. Through our management and imaginative skills, we had organized many wonderful events and parties.
                    </p>
                </div>
                <div class="tab-pane fade" id="profile">
                    <img style="float: left; margin-right: 25px; margin-bottom: 10px;" src="~/assets/img/frontpage/filler2.jpg" alt="filler image">
                    <h3>What We Are…</h3>
                    <p>
                        Dream Planner possesses a team of young, innovative, enthusiastic and dynamic professionals that has a wide
                        range of management experience in every category that we deal with. Our objective is to give our clients such
                        beautiful memories that they can never forget. Our expertise covers the whole aspects of Events and pays full
                        Attention on client’s demand. Through our management and imaginative skills, we had organized many wonderful events and parties.
                    </p>
                </div>
                <div class="tab-pane fade" id="messages">
                    <img style="float: left; margin-right: 25px; margin-bottom: 10px;" src="~/assets/img/frontpage/filler3.jpg" alt="filler image">
                    <h3>What We Are…</h3>
                    <p>
                        Dream Planner possesses a team of young, innovative, enthusiastic and dynamic professionals that has a wide
                        range of management experience in every category that we deal with. Our objective is to give our clients such
                        beautiful memories that they can never forget. Our expertise covers the whole aspects of Events and pays full
                        Attention on client’s demand. Through our management and imaginative skills, we had organized many wonderful events and parties.
                    </p>

                </div>
            </div>
            <!-- End Tab Panes -->
        </div>
        <!-- End Tabs -->
    </div>
</div>
