@model IEnumerable<DreamPlanner_Main.Models.UserDefinedModels.UserExperience>

@{
    ViewBag.Title = "Home Page";
}

<style>
    html {
        <!-- font-family: sans-serif; -->
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }

    dfn {
        font-style: italic;
    }

    sub, sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    sup {
        top: -0.5em;
    }

    sub {
        bottom: -0.25em;
    }

    img {
        border: 0;
    }

    svg:not(:root) {
        overflow: hidden;
    }

    figure {
        margin: 1em 40px;
    }

    pre {
        overflow: auto;
    }

    code, kbd, pre, samp {
        font-family: monospace, monospace;
        font-size: 1em;
    }

    fieldset {
        border: 1px solid #c0c0c0;
        margin: 0 2px;
        padding: 0.35em 0.625em 0.75em;
    }

    legend {
        border: 0;
        padding: 0;
    }

    optgroup {
        font-weight: bold;
    }
</style>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .gallery {
        margin: 1% auto;
        padding: 5px;
        background: #33333338;
    }

        .gallery > div {
            position: relative;
            float: left;
            padding: 5px;
        }

            .gallery > div > img {
                width: 100%;
                transition: .1s transform;
                transform: translateZ(0);
                /* hack */
            }

            .gallery > div:hover {
                z-index: 1;
            }

                .gallery > div:hover > img {
                    transform: scale(1.5, 1.5);
                    transition: .3s transform;
                }

    .cf:before, .cf:after {
        display: table;
        content: "";
        line-height: 0;
    }

    .cf:after {
        clear: both;
    }
</style>

<script src="js/prefixfree.min.js"></script>


<div class="container no-padding">
    <div class="row">
        <!-- Carousel Slideshow -->
        <div id="carousel-example" class="carousel slide" data-ride="carousel">
            <!-- Carousel Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example" data-slide-to="1"></li>
                <li data-target="#carousel-example" data-slide-to="2"></li>
            </ol>
            <!-- End Carousel Indicators -->
            <!-- Carousel Images -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/assets/img/slideshow/slide1.jpg">
                </div>
                <div class="item">
                    <img src="~/assets/img/slideshow/slide2.jpg">
                </div>
                <div class="item">
                    <img src="~/assets/img/slideshow/slide3.jpg">
                </div>
            </div>
            <!-- End Carousel Images -->
            <!-- Carousel Controls -->
            <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
            <!-- End Carousel Controls -->
        </div>
        <!-- End Carousel Slideshow -->
        <!-- Tabs -->
        <div class="tabs-dark" style="padding:0;">
            <!-- Tab Navigation -->
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#home" data-toggle="tab">Home</a>
                </li>
                <li>
                    <a href="#profile" data-toggle="tab">Profile</a>
                </li>
                <li>
                    <a href="#messages" data-toggle="tab">Messages</a>
                </li>
            </ul>
            <!-- End Tab Navigation -->
            <!-- Tab Panes -->
            <div class="tab-content">
                <div class="tab-pane fade in active" id="home">
                    <img style="float: left; margin-right: 25px; margin-bottom: 10px;" src="~/assets/img/frontpage/filler1.jpg" alt="filler image">
                    <p>
                        Dream Planner possesses a team of young, innovative, enthusiastic and dynamic professionals that has a wide range of management
                        experience in every category that we deal with. Our objective is to give our clients such beautiful memories that they can never
                        forget. Our expertise covers the whole aspects of Events and pays full Attention on client’s demand.
                        <br />
                        <br />
                        Through our management and imaginative skills, we had organized many wonderful events and parties.
                    </p>
                </div>
                <div class="tab-pane fade" id="profile">
                    <img style="float: left; margin-right: 25px; margin-bottom: 10px;" src="~/assets/img/frontpage/filler2.jpg" alt="filler image">
                    <p>
                        Dream Planner possesses a team of young, innovative, enthusiastic and dynamic professionals that has a wide range of management
                        experience in every category that we deal with. Our objective is to give our clients such beautiful memories that they can never
                        forget. Our expertise covers the whole aspects of Events and pays full Attention on client’s demand.
                        <br />
                        <br />
                        Through our management and imaginative skills, we had organized many wonderful events and parties.
                    </p>
                </div>
                <div class="tab-pane fade" id="messages">
                    <img style="float: left; margin-right: 25px; margin-bottom: 10px;" src="~/assets/img/frontpage/filler3.jpg" alt="filler image">
                    <p>
                        Dream Planner possesses a team of young, innovative, enthusiastic and dynamic professionals that has a wide range of management
                        experience in every category that we deal with. Our objective is to give our clients such beautiful memories that they can never
                        forget. Our expertise covers the whole aspects of Events and pays full Attention on client’s demand.
                        <br />
                        <br />
                        Through our management and imaginative skills, we had organized many wonderful events and parties.
                    </p>
                </div>
            </div>
            <!-- End Tab Panes -->
        </div>
        <!-- End Tabs -->
    </div>
</div>

<div class="container">
    <div class="row">
        <!-- Main Article -->
        <div class="col-md-12 margin-top-30">
            <h2 class="item-title">
                Why Choose Us???
            </h2>
            <div>
                <div style="float:left; display:inline; width:48%;">
                    <p>
                        Dream Planner
                        do not compromise on quality with our unique and creative ideas. We provide ultimate customer satisfaction. Being loyal to our clients, we deliver
                        exceptional services, we want us to be remembered and listed among the top brands of the present era.

                        Dream Planner offers a wide range of services Wedding Planning, Birthday Parties, Community Events, and Religious Events etc.
                        Having Dream Planner, plan your event means that you’ll have everything you’ll need to make your special day truly remarkable
                    </p>
                </div>
                <div class="gallery cf" style="float:right; display:inline; width:48%;">
                    <div>
                        <img class="animate fadeInRight" style="float: right;" src="~/assets/img/frontpage/AllReligionPhoto.jpg" alt="Service Photo">
                    </div>
                </div>
            </div>
                
        </div>
        <div class="clearfix"></div>
        <!-- End Main Article -->
    </div>
</div>


<div class="container no-padding gridgallery">
    <!-- Portfolio Header Text -->
    <div class="row">
        <div class="col-md-12 padding-vert-30">
            <h2 class="subtitle text-center">Defining Style for your party Today, Tomorrow</h2>
            <h3 class="subtitle text-center">Each event can be a movie. Make your Movie with us.</h3>
        </div>
    </div>
    <!-- End Portfolio Header Text -->
    <!-- Portfolio Images -->
    <div class="portfolio-group">
        <!-- Portfolio Item -->
        <div class="portfolio-item col-md-3 col-sm-6 col-xs-6 animate fadeInUp">
            <div class="image-hover gallery cf">
                <div>
                    <img src="~/assets/img/portfolio/img1.jpg" alt="image1">
                </div>
            </div>
        </div>
        <!-- //Portfolio Item// -->
        <!-- Portfolio Item -->
        <div class="portfolio-item col-md-3 col-sm-6 col-xs-6 animate fadeInUp">
            <div class="image-hover gallery cf">
               <div>
                   <img src="~/assets/img/portfolio/img2.jpg" alt="image2">
               </div>
            </div>
        </div>
        <!-- //Portfolio Item// -->
        <!-- Portfolio Item -->
        <div class="portfolio-item col-md-3 col-sm-6 col-xs-6 animate fadeInUp">
            <div class="image-hover gallery cf">
                <div>
                    <img src="~/assets/img/portfolio/img3.jpg" alt="image3">
                </div>
            </div>
        </div>
        <!-- //Portfolio Item// -->
        <!-- Portfolio Item -->
        <div class="portfolio-item col-md-3 col-sm-6 col-xs-6 animate fadeInUp">
            <div class="image-hover gallery cf">
                <div>
                    <img src="~/assets/img/portfolio/img4.jpg" alt="image4">
                </div>
            </div>
        </div>
        <!-- //Portfolio Item// -->
        <!-- Portfolio Item -->
        <div class="portfolio-item col-md-3 col-sm-6 col-xs-6 animate fadeInUp">
            <div class="image-hover gallery cf">
                <div>
                    <img src="~/assets/img/portfolio/img5.jpg" alt="image5">
                </div>
            </div>
        </div>
        <!-- //Portfolio Item// -->
        <!-- Portfolio Item -->
        <div class="portfolio-item col-md-3 col-sm-6 col-xs-6 animate fadeInUp">
            <div class="image-hover gallery cf">
               <div>
                   <img src="~/assets/img/portfolio/img6.jpg" alt="image6">
               </div>
            </div>
        </div>
        <!-- //Portfolio Item// -->
        <!-- Portfolio Item -->
        <div class="portfolio-item col-md-3 col-sm-6 col-xs-6 animate fadeInUp">
            <div class="image-hover gallery cf">
                <div>
                    <img src="~/assets/img/portfolio/img7.jpg" alt="image7">
                </div>
            </div>
        </div>
        <!-- //Portfolio Item// -->
        <!-- Portfolio Item -->
        <div class="portfolio-item col-md-3 col-sm-6 col-xs-6 animate fadeInUp">
            <div class="image-hover gallery cf">
               <div>
                   <img src="~/assets/img/portfolio/img8.jpg" alt="image8">
               </div>
            </div>
        </div>
        <!-- //Portfolio Item// -->
        <div class="clearfix"></div>
    </div>
    <!-- End Portfolio Images -->
    <!-- Portfolio Footer Text -->
    <div class="row">
        <div class="col-12-md">
            <p class="text-center padding-bottom-30" style="max-width:690px; margin:0 auto;">
                You will find more photos in the gallery page. These photos are taken from the previous events which were organised by us. We have our own
                professional photographers who will capture your precious moments in the frame.
            </p>
        </div>
    </div>
    <!-- End Portfolio Footer Text -->
    <!-- === END CONTENT === -->
    <!-- === BEGIN FOOTER === -->
</div>

<br />
<hr />
<div style="text-align:center;clear:both;">
    <script src="/gg_bd_ad_720x90.js" type="text/javascript"></script>
    <script src="/follow.js" type="text/javascript"></script>
</div>


<div class="container no-padding gridgallery">
    <!-- Portfolio Header Text -->
    <div class="row">
        <div class="col-md-12 padding-vert-30">
            <h2 class="subtitle text-center">Thank you to be with US.</h2>
            <h3 class="subtitle text-center">Your experiece is the main reason of our existence.</h3>
        </div>
    </div>

    <div>

        @foreach (var item in Model)
        {
            <blockquote class="primary animated fadeInDown">
                <p>
                    <em>@item.ExperienceDescription</em>
                </p>
                <small>
                    @item.User.LastName
                </small>
            </blockquote>

        }
    </div>
</div>


