@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content" style="margin-top:1%;">
    <!-- Carousel Slideshow -->
    <div id="carousel-example" class="carousel slide" data-ride="carousel">
        <!-- Carousel Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example" data-slide-to="1"></li>
            <li data-target="#carousel-example" data-slide-to="2"></li>
        </ol>
        <!-- End Carousel Indicators -->
        <!-- Carousel Images -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/assets/img/community/muslim1.jpg">
            </div>
            <div class="item">
                <img src="~/assets/img/community/muslim2.jpg">
            </div>
            <div class="item">
                <img src="~/assets/img/community/muslim3.jpg">
            </div>
        </div>
        <!-- End Carousel Images -->
        <!-- Carousel Controls -->
        <a class="left carousel-control" href="#carousel-example" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        <!-- End Carousel Controls -->
    </div>
   
           
     <!-- Description  Description   Description    Description   Description  Description -->

    <div>
        <div style="float:left;display:inline;width:48%;">
            <p>
                <br />There are two official holidays in Islam: Eid Al-Fitr and Eid Al-Adha. Eid Al-Fitr is celebrated at the end of Ramadan (a month of fasting during daylight hours), and Muslims usually give zakat (charity) on the occasion. Eid Al-Adha is celebrated on the tenth day of Dhu al-Hijjah and lasts for four days, during which Muslims usually slaughter a sheep and distribute its meat in 3 parts: among family, friends, and the poor.
                <br /> Both of the holidays occur on dates in the Arabic (Islamic) calendar, which is lunar, and thus their dates in the Gregorian calendar, which is solar, change each year. The Gregorian calendar is based on the orbital period of the Earth's revolution around the Sun, approximately 365 1⁄4 days, while the Islamic calendar is based on the synodic period of the Moon's revolution around the Earth, approximately 29 1⁄2 days. The Islamic calendar alternates months of 29 and 30 days (which begin with the new moon). Twelve of these months constitute an Islamic year, which is 11 days shorter than the Gregorian year.
            </p>

            <img src="~/assets/img/community/Eid al-Fitr.png" style="width:65%;" />
            <p>
                <br />Eid al-Fitr is celebrated for one, two or three days. Common greetings during this holiday are the Arabic greeting ‘Eid Mubārak ("Blessed Eid") or ‘Eid Sa‘īd ("Happy Eid").Muslims are also encouraged on this day to forgive and forget any differences with others or animosities that may have occurred during the year.
                <br />Typically, practising Muslims wake up early in the morning—always before sunrise—offer Salatul Fajr (the pre-sunrise prayer), and in keeping with the traditions of the Prophet Muhammad clean their teeth with a toothbrush, take a shower before prayers, put on new clothes (or the best available), and apply attar.
                <br />It is forbidden to fast on the Day of Eid. It is customary to acknowledge this with a small sweet breakfast, preferably of date (fruit), before attending a special Eid prayer (known as salaat).
                As an obligatory act of charity, money is paid to the poor and the needy (Arabic: Zakat-ul-fitr) before performing the ‘Eid prayer.[10] The following list contains some general rituals:
                <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>√</strong>&nbsp;To show happiness
                <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>√</strong>&nbsp;To give as much to charity as possible
                <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>√</strong>&nbsp;To pray Fajr in the local Masjid
                <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>√</strong>&nbsp;To go early for Eid salaat
                <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>√</strong>&nbsp;To read the takbirat in an open field
                <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>√</strong>&nbsp;To go to the Eid prayer on foot
            </p>
        </div>
        <div style="float:right;display:inline;width:48%;">
            <img src="~/assets/img/community/Eid al-adha.png" style="width:65%; " />

            <p style="margin-top:-1%;">
                <br />Men, women, and children are expected to dress in their finest clothing to perform Eid prayer in a large congregation in an open waqf ("stopping") field called Eidgah or mosque. Affluent Muslims who can afford it sacrifice their best halal domestic animals (usually a cow, but can also be a camel, goat, sheep, or ram depending on the region) as a symbol of Abraham's willingness to sacrifice his only son. The sacrificed animals, called aḍḥiya (Arabic: أضحية‎), known also by the Perso-Arabic term qurbāni, have to meet certain age and quality standards or else the animal is considered an unacceptable sacrifice.
                <br />The meat from the sacrificed animal is preferred to be divided into three parts. The family retains one third of the share; another third is given to relatives, friends, and neighbors; and the remaining third is given to the poor and needy. Though the division is purely optional wherein either all the meat may be kept with oneself or may be given away to poor or needy, the preferred method as per sunnah of Muhammad is dividing it in three parts.
                <br />The regular charitable practices of the Muslim community are demonstrated during Eid al-Adha by concerted efforts to see that no impoverished person is left without an opportunity to partake in the sacrificial meal during these days. Hajj is also performed in Saudi Arabia before Eid ul Adha and millions of Muslims perform Hajj. On the event of Hajj lots of Muslims slaughter animals and divide a major part of the meat for poor people.
                <br />During Eid al-Adha, distributing meat amongst the people, chanting the takbir out loud before the Eid prayers on the first day and after prayers throughout the four days of Eid, are considered essential parts of this important Islamic festival. In some countries, families that do not own livestock can make a contribution to a charity that will provide meat to those who are in need.
            </p>
        </div>
    </div>

    <hr />

    <h3 style="text-align:center">
        IMPRESSED ENOUGH!!! WANT TO RESERVE NOW!!!! Click
        @Html.ActionLink("Here", "Create", "Reservations", routeValues: null, htmlAttributes: new { @class = "color-green" }) to reserve your celebration party with us.
    </h3>

    

</div>
