@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container no-padding">
    <div class="container">
        <div class="row">
            <!-- Service Introduction -->
            <div class="col-md-12 margin-top-30 margin-bottom-30">
                <h2 class="item-title">
                    Our Services
                </h2>
                <div id="carousel-example" class="carousel slide" data-ride="carousel">
                    <!-- Carousel Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example" data-slide-to="1"></li>
                        <li data-target="#carousel-example" data-slide-to="2"></li>
                    </ol>
                    <!-- End Carousel Indicators -->
                    <!-- Carousel Images -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="~/assets/img/services/wedding1.jpeg">
                        </div>
                        <div class="item">
                            <img src="~/assets/img/services/birthday01.jpg">
                        </div>
                        <div class="item">
                            <img src="~/assets/img/services/party1.jpg">
                        </div>
                    </div>
                    <!-- End Carousel Images -->
                    <!-- Carousel Controls -->
                    <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                    <!-- End Carousel Controls -->
                </div>
                <p class="intro">
                    We Dream Planner offer the perfect service for any party and event. From your fantastic wedding, to your lovely birthday party, to your festival family party. We can host it all!
                </p>
                <div style="margin:2em;">
                    <hr>
                    <h2 class="service">
                        Wedding
                    </h2>
                    <div>
                        <img class="animate fadeInRight" style="float: right ; margin:1em ;" src="~/assets/img/services/wedding4.jpg" alt="Wedding Photo" width="600" height="300">
                        <p class="descri">
                            We make sure that the space is perfect for you and your party.Contact us to set up a private tour of the facility. We would love to show you what we have to offer and how we can make your wedding day better than your wildest dreams!
                            <ul style="list-style-type:none;margin:0;padding:0;">
                                <li><span style="color:green;">&#x2714;</span> <b>Hall</b> </li>
                                <li><span style="color:green;">&#x2714;</span> <b>Suit</b> </li>
                                <li><span style="color:green;">&#x2714;</span> <b>Flower</b> </li>
                                <li><span style="color:green;">&#x2714;</span> <b>Wine</b> </li>
                                <li><span style="color:green;">&#x2714;</span> <b>Music</b> </li>
                                <li><span style="color:green;">&#x2714;</span> <b>Cake</b> </li>
                                <li style="float:right;">
                                    @Html.ActionLink("Details->", "Wedding", "Home")
                                </li>

                            </ul>
                        </p>
                    </div>

                </div>
                <div style="margin:2em;">
                    <hr>
                    <h2 class="service">
                        Birthday
                    </h2>
                    <div>

                        <img class="animate fadeInLeft" style="float: left ; margin:1em ;" src="~/assets/img/services/birthday1.jpg" alt width="600" height="300">
                        <p class="descri">
                            Our Birthday Party Planners can help you select the site, catering, theme, budget, staffing, menus, mementoes, etc.
                            Our birthday party planner will help you manage your time wisely for the event, and provide the preparation needed for your birthday party to be a great success.
                            <ul style="list-style-type:none;margin:0;padding:0;">
                                <li><span style="color:green;">&#x2714;</span> <b>Hall</b> </li>
                                <li><span style="color:green;">&#x2714;</span> <b>Ballon</b> </li>
                                <li><span style="color:green;">&#x2714;</span> <b>Flower</b> </li>
                                <li><span style="color:green;">&#x2714;</span> <b>Cake</b> </li>
                                <li style="float:right;">
                                    @Html.ActionLink("Details->", "Birthday", "Home")
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div style="margin:2em;">
                    <hr>
                    <h2 class="service">
                        Community
                    </h2>
                    <div>
                        <img class="animate fadeInRight" style="float: right ; margin:1em ;" src="~/assets/img/services/christmas1.jpg" alt width="600" height="300">
                        <p class="descri">
                            We offer a wide variety of religious and traditional festivals event， including Christian festivals, Muslim festivals, Chinese traditional festivals.
                            We offer a wide range of services...........
                            <ul style="list-style-type:none;margin:0;padding:0;">
                                <li><span style="color:green;">&#x2714;</span> <b>Hall</b> </li>
                                <li><span style="color:green;">&#x2714;</span> <b>Traditional Food</b> </li>
                                <li><span style="color:green;">&#x2714;</span> <b>Flower</b> </li>
                                <li><span style="color:green;">&#x2714;</span> <b>Wine</b> </li>
                                <li><span style="color:green;">&#x2714;</span> <b>Poker card</b> </li>
                                <li style="float:right;">

                                </li>

                            </ul>
                        </p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
