@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function play() {
        document.getElementById("beautiful").load();
        document.getElementById("simple").load();
        document.getElementById("romantic").load();
        document.getElementById("chinese").load();

        document.getElementById("beautiful").play();
        document.getElementById("simple").play();
        document.getElementById("romantic").play();
        document.getElementById("chinese").play();
    }
    function pause() {
        ducument.getElementById("simple").pause();
        ducument.getElementById("beautiful").pause();
        ducument.getElementById("romantic").pause();
        ducument.getElementById("chinese").pause();
    }
</script>

<style type="text/css">
    strong {
        font-family: "palatino linotype", palatino, serif;
        color: #E08080;
        text-decoration: underline;
        font-variant: small-caps;
        letter-spacing: 0.8pt;
        word-spacing: -1pt;
        line-height: 0.6;
    }

    p {
        font-family: helvetica, sans-serif;
        word-spacing: 1.2pt;
        line-height: 1.4;
        font-size: 1.1em;
    }
</style>

<div class="container body-content">
    <!-- Font picture of wedding page！            Font picture of wedding page！               Font picture of wedding page！                Font picture of wedding page！ ！-->
    <img src="~/assets/img/wedding/front3.jpg" style="margin-top:1%;" />

    <hr />

    <!-- Detail for wedding      Detail for wedding             Detail for wedding                 Detail for wedding                      Detail for wedding-->

    <div>

        <!-- The first one-->
        <div style="width:100%; ">
            <div style="width:70%;display:inline;float:left;">
                <!-- Picture or vedio-->
                <video poster="~assets/img/wedding/beautiful dream style.jpg" style="width:100%;" id="beautiful"
                       src="~/assets/video/wedding/beautiful dream style.mp4" onmousemove="play()" onmouseout="pause()" autoplay muted></video>
            </div>
            <div style="width:30%;display:inline;float:right;">
                <img src="~/assets/img/wedding/beautiful dream style.jpg" style="padding-left:2%; " />
            </div>
            <!-- Introduction -->
            <div class="row" style="padding-top:40%;">
                <p style="margin-left:2%;margin-top:1%;">
                    <!-- Description -->
                    <h1><strong>Beautiful Dream Style Wedding</strong></h1>
                </p>
                <p style="margin-left:2%;margin-top:-2%;">
                    <!-- Description -->
                    <br />
                    Every girl's heart will have a dream wedding, our mission is to help you realize your dream! The beautiful design, the application of green planting and flowers, combined with the lighting effects of the romantic wedding banquet, we will give you the wedding of your dreams. The dream wedding is the name of the wedding theme we think of.
                    <br />Jungle the reappearance of background wall, mysterious doors, with the dream clouds of the windows, the blooming flowers, as if into the back garden of the castle, in the flowers around and the set off of the moonlight, we advanced towards the castle in the dream. Through elaborate wedding design, careful wedding planning, and combining the features of the venue, we will design a natural and fresh wedding scene.
                </p>
            </div>
        </div>
        <hr />


        <!-- The secord one-->
        <div style="width:100%; margin-bottom:35%; height:auto;">
            <div style="width:40%;display:inline;float:left;">
                <!-- Picture -->
                <img src="~/assets/img/wedding/simple fresh style.jpg" style="width:100%;" />
            </div>
            <div style="width:58%;display:inline;float:right;">
                <!-- Introcudtion for sea wedding 1-->
                <p>
                    <!-- Description -->
                    <h1><strong>Simple Fresh Style Wedding</strong></h1>
                </p>
                <p style="margin-top:-2%;">
                    <!-- Description -->
                <p>
                    <br /> Simple and fresh style wedding will be hold in a garden, lawn , beach, or in a beautiful and dream hotel, where the yard has grass, shade and a beautiful fountain here.
                    <br />Popular season color has always been a fashion topic, the color of the autumn lemon gives a warm atmosphere, a fall fashion, the spring green will let you feel fresh.No matter what the season, we will create for you a special wedding feast.

                </p>
            </div>
        </div>
        <div style="width:100%;">
            <div style="width:42%;display:inline;float:left;">
                <!-- Introduction 2 for sea wedding -->
                <p>
                    <!-- Description -->
                    <br />Green is a sign of life, the circle is the reincarnation of life, as we have seen in the examples of pictures, it presents the feeling of a fantasy jungle.
                    <br /> Let's have a simple wedding which is not simple, just like the wheat meets the straw, the sunflowers are all over the garden, sitting on the soft licorice heap, enjoying a comfortable and comfortable atmosphere, listening to the oath of love

                </p>
            </div>
            <div style="width:55%;display:inline;float:right;">
                <!-- Picture or vedio-->
                <video poster="~assets/img/wedding/simple fresh style.jpg" src="~/assets/video/wedding/simple fresh style.mp4"
                       style="width:100%;" id="simple" onmousemove="play()" onmouseout="pause()" autoplay muted></video>
            </div>
        </div>
        <hr />


        <!-- Third one-->
        <div>
            <div class="col-md-12" style="width:45%;height:auto;display:inline;float:left; ">
                <div>
                    <!-- Introcudtion for sea wedding 1-->
                    <p>
                        <!-- Description -->
                        <h1><strong>Luxurious and Romantic Style Wedding</strong></h1>
                    </p>
                    <p style="margin-top:-2%;">
                        <!-- Description -->
                        <br />A romantic wedding is a dream for the love-struck people, a lot of boys know that every girl wants to have a wedding is full of happiness and romance,
                        but because of the limitation of economic factors may not be able to give the person he loved a luxurious and romantic wedding.
                        In fact, a touching love song, do a visceral, a well-designed romantic wedding...
                        It's enough to make a loved one feel the happiness of the wedding.
                    </p>
                </div>
               
                    <!-- Picture -->
                    <img src="~/assets/img/wedding/luxurious and romantic style1.jpg" style="width:100%;" />
            </div>

            <div class="col-md-12" style="width:54%;display:inline;float:left;">
                <div >
                    <!-- Picture or vedio-->
                    <video poster="~assets/img/wedding/luxurious and romantic style.jpg" src="~/assets/video/wedding/luxurious and romantic style.mp4"
                           style="width:100%;" id="romantic" onmousemove="play()" onmouseout="pause()" autoplay muted></video>

                </div>
                    <!-- Introduction 2 for sea wedding -->
                    <p>
                        <!-- Description -->
                        <br />No girl in the world is estimated to be impressed by a delicate romantic fairytale wedding. Wearing a beautiful dress, waiting for prince riding a white horse to pick up their own, and then like the fairy tale written inside - "Since then, they have a happy life," all this is how beautiful. Although ordinary people cannot be extravagant to wear a diamond-studded trailing wedding dress, sitting cinderella to see the prince's pumpkin carriage to go to the castle to get married, but as long as more thoughtful, you can create your own luxury wedding.
                        <br />Give your wedding to us! Whether you're rich or not, whatever romance you want, we'll try our best to help you make a romantic wedding!

            </div>

        </div>
        
       

        <hr />


        <!-- Forth one-->
        <div class="col-md-12" style="width:100%; ">
            <!-- Introduction -->
            <div class="row">
                <p style="margin-left:2%;margin-top:1%;">
                    <!-- Description -->
                    <h1><strong>Retro Chinese Style Wedding</strong></h1>
                </p>
                <p style="margin-left:2%;margin-top:-2%;">
                    <!-- Description -->
                    <br /> China is a country with a history of 5,000 years. No matter how long it takes, the unique charm of Chinese wedding will still appeal to you, to love and to feel.
                    Chinese wedding is given priority to with red color and with wedding auditorium archaize generation background. And we will use elegant noble palace lantern, antique garden, the plum flower to highlights the Chinese wedding grand red festive color.This is not so much a wedding, it is better to define it as a family gathering between friends and relatives more appropriate. Lively atmosphere, wonderful music, innocent children, in this most festive atmosphere, people have witnessed a couple who hand in hand to open their bright future.
                    <br />No matter which country you come from, the retro Chinese style will make you feel the solemnity of the wedding.
                </p>
            </div>
            <div style="width:70%;display:inline;float:right;">
                <!-- Picture or vedio-->
                <video poster="~assets/img/wedding//retro chinese style.jpg" style="width:100%;" id="chinese"
                       src="~/assets/video/wedding//retro chinese style.mp4" onmousemove="play()" onmouseout="pause()" autoplay muted></video>
            </div>
            <div style="width:30%;display:inline;float:left;">
                <img src="~/assets/img/wedding/churchRight3.jpg" style="padding-right:2%; " />
            </div>
        </div>
        <hr />
        <h3>
            IMPRESSED ENOUGH!!! WANT TO RESERVE NOW!!!! Click
            @Html.ActionLink("Here", "Create", "Reservations", routeValues: null, htmlAttributes: new { @class = "color-green" }) to reserve your celebration party with us.
        </h3>

    </div>



    <audio src="~/assets/audio/All about us.mp3" autoplay></audio>
</div>
