@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">
    <!-- Font picture of wedding page！            Font picture of wedding page！               Font picture of wedding page！                Font picture of wedding page！ ！-->
    <img src="~/assets/img/wedding/fontPic2.jpg" style="margin-top:1%;" />

    <hr />

    <!-- Detail for wedding      Detail for wedding             Detail for wedding                 Detail for wedding                      Detail for wedding-->
    <!-- First row -->
    <div>
        <!-- The first one-->
        <div style="width:48%; display:inline;float:left;">
            <div style="width:40%;display:inline;float:left;">
                <!-- Picture or vedio-->
                <img src="~/assets/img/wedding/church wedding.jpg" />
            </div>
            <div style="width:60%;display:inline;float:right;">
                <p style="margin-left:2%;margin-top:1%;">
                    <!-- Description -->
                    <strong>Theme: Church Wedding</strong>
                </p>
                <p style="margin-left:2%;margin-top:-5%;">
                    <!-- Description -->
                    Introduction for Church Wedding.
                </p>
            </div>
        </div>

        <!-- The secord one-->
        <div style="width:48%;display:inline;float:left; margin-left:-4%;">
            <div style="width:60%;display:inline;float:left;">
                <p style="margin-left:2%;margin-top:1%;">
                    <!-- Description -->
                    <strong>Theme: Church Wedding</strong>
                </p>
                <p style="margin-left:2%;margin-top:-5%;">
                    <!-- Description -->
                    Introduction for Church Wedding.
                </p>
            </div>
            <div style="width:40%;display:inline;float:right;">
                <img src="~/assets/img/wedding/church wedding.jpg" />
            </div>
        </div>
    </div>


</div>
